{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="section-intro padding-y-sm">
	<div class="container">
	
	<div class="intro-banner-wrap">
		<img style="width: 60%; margin-left:17%; margin-top:-2%" src="https://img.freepik.com/free-psd/horizontal-banner-online-fashion-sale_23-2148585404.jpg?size=626&ext=jpg" class="img-fluid rounded">
	</div>
	
	</div> <!-- container //  -->
	</section>
	<br>
	<h3>Popular products</h3>
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<a class="btn btn-outline-success" href="">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh{{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
